# Node.js dependencies
backend/node_modules/
frontend/node_modules/

# Build output
backend/build/
frontend/build/

# Environment variables
backend/.env
backend/.env.production
frontend/.env
frontend/.env.production

# Logs
backend/logs/
frontend/logs/

# IDE files
.backend/.vscode/
frontend/.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# package-lock.json
backend/package-lock.json
frontend/package-lock.json

# uploads and profile
backend/profile/
backend/uploads/
backend/upload/
backend/meetings/
backend/backgroundPic/
backend/clubs/

# prettierrc relation by koo add!!
prettierrc
frontend/build.zip
