.carousel .control-dots .dot {
    background: black !important; /* 도트를 검은색으로 설정 */
  }
  
  .carousel .control-dots {
    bottom: 0px; /* 도트 위치를 이미지 바깥쪽으로 이동 */
  }
  .carousel .control-next.control-arrow,
  .carousel .control-prev.control-arrow {
    background: none; /* 기본 배경 제거 */
    border-radius: 50%; /* 동그란 모양으로 설정 */
    width: 30px; /* 아이콘 크기 조정 */
    height: 30px; /* 아이콘 크기 조정 */
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 검은색 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .carousel .control-next.control-arrow:before,
  .carousel .control-prev.control-arrow:before {
    font-size: 20px; /* 화살표 크기 조정 */
    color: white; /* 화살표 색상 */
  }
  
  .carousel .control-next.control-arrow {
    right: 15px; /* 오른쪽 화살표 위치 조정 */
    top : 50%;
  }
  
  .carousel .control-prev.control-arrow {
    left: 15px; /* 왼쪽 화살표 위치 조정 */
    top : 50%;
  }
  
  .carousel .control-next.control-arrow:hover,
  .carousel .control-prev.control-arrow:hover {
    background-color: rgba(0, 0, 0, 0.7); /* 마우스 오버 시 배경색 변경 */
  }
  