<<<<<<< HEAD
.tui-image-editor-header-buttons {
  display: none;
}
.tui-image-editor-help-menu {
  display: none;
}
.react-sortable-hoc-placeholder {
  visibility: hidden;
}

=======
.tui-image-editor-header-buttons {
  display: none;
}
.tui-image-editor-help-menu {
  display: none;
}
.react-sortable-hoc-placeholder {
  visibility: hidden;
}

>>>>>>> 1e99f21 (테스트)
